
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .space_cart{
      margin:0px 15px  !important
  }
  
  .bg-color-categories{
    background-color: var(--orange);
    color:var(--ivory);
    
  }
  .alignment{
    display: flex !important;
    justify-content: center !important;  
    
  }
  .alignment>*>*{
    margin:0px 10px;
    padding: 5px 15px;

  }
  .btn-active-categories{
    font-weight: bold;
    font-size:1.4rem;
    font-family: var(--roboto);
    --bs-navbar-active-color:rgb(92, 62, 6) !important;
    --bs-navbar-active: #fda172 !important
    
  }
  .bg-color-categories a{
    color:var(--ivory);
  }
  .bg-color h1{
    padding:10px 10px 0px;
    
    color:var(--ivory);
  }
  .bg-color-categories a:hover{
    background-color:var(--ivory) ;
    border-radius: 5px;
  }
  
  .logo-title{
    font-family: var(--righteous);
  }
  
  