.galleryView{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

/* css for cart */

.payment-card-container{
    display:grid;
    grid-template-columns: 3fr 1fr;

}

.payment-view{
    
    display: grid;
    padding: 10px;
    grid-template-columns:  1fr;
    row-gap:15px ;
    height: fit-content;

}

.text-box{
    width: 60%;
    /* height:30px; */
    margin: 4px; 
    padding: 5px;
    border-radius: 5px;
}
.coupon-card button{
    height: 45px;
}
.coupon-card{
    display: flex;
    height: 50px;
    align-items: center;
    padding: 40px 5px;
    justify-content: center;
    /* margin: 10px; */
    background-color: rgb(236, 243, 241);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #6d6d6d;
    

}
.price-card{
    font-family: var(--roboto);
    background-color: rgb(236, 243, 241);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #6d6d6d;
    padding: 10px;
    display: grid;
    gap:15px;
    padding: 10px;
    grid-template-columns: 2fr 1fr;
    row-gap:5px ;
    height: fit-content;
    
}

.price-card hr{
    grid-column: 1/3;
}
.price-card button{
    grid-column: 1/3;
    width: 50%;
    margin-top:50px !important;
    margin: auto;
    padding: 10px;
}