
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.space_cart{
    margin:0px 15px  !important
}
.btn-active-navbar{
  --bs-navbar-active-color:var(--orange)!important
}
.search_box{
  width: 600px;
}
.bg-color{
  background-color: var(--deep-blue);
  color:var(--ivory);
  /* display: flex;
  align-items: center; */
}
.bg-color a{
  text-decoration: none !important;
  color:var(--ivory);
}
.bg-color h1{
  padding:10px 10px 0px;
  color:var(--ivory);
}

.bg-color a:hover{
  background-color:var(--ivory) ;
  border-radius: 5px;
  padding: 5px 10px;
}

.logo-title{
  font-family: var(--righteous);
  font-size:22px;
  
}

